.cell {
    height: 80px;
    width: 80px;
    padding: 10px;
    border: 1px solid black;
}

.cell:first-child {
    margin-left: 40px;
}

.cell.active::before {
    position: fixed;
    width: 25px;
    height: 25px;
    content: "";
    border-radius: 50%;
    background: grey;
    display: block;
    margin-left: 15px;
    margin-top: 15px;
    z-index: 1;
}

/*barvanje celic*/
.row:nth-child(2n) .cell:nth-child(2n) {
    background: #eee;
}

.row:nth-child(2n) .cell:nth-child(2n+1) {
    background: tan;
}

.row:nth-child(2n+1) .cell:nth-child(2n) {
    background: tan;
}

.row:nth-child(2n+1) .cell:nth-child(2n+1) {
    background: #eee;
}

.pawn {
    width: 60px;
    height: 60px;
}

.board-piece {
    width: 58px;
    height: 58px;
}