.chat {
    position: relative;
    border: 3px black solid;
    border-radius: 25px;
    padding-bottom: 10px;
}

.content {
    font-size: 2rem;
}

input {
    width: 90%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.btn {
    border: 2px black solid;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 60px;
    margin-left: 20px;
    padding: 10px 5px;
    border-radius: 10px;
}