.clock {
    width: 25%;
    font-size: 3rem;
    font-weight: 10px;
    letter-spacing: 5px;
    background-color: lightgray;
    text-align: center;
    margin: 10px 0px;
    margin-left: 445px;
    border-radius: 15px;
}
