.clock {
    width: 300px;
    font-size: 3rem;
    font-weight: 10px;
    letter-spacing: 5px;
    background-color: lightgray;
    text-align: center;
    margin: 10px 0px;
    margin-left: 370px;
    border-radius: 15px;
}

.times-up {
    font-size: 2rem;
    margin-left: 24rem;
}