@page "/"

<style>
	.boardLayout {
		display: grid;
		grid-template-columns: 900px auto
	}
	.cell {
		display: inline-block;
	}
</style>

<div class="boardLayout">
	<div class="cell">
		<Clock></Clock>
		<Board></Board>
		<Clock></Clock>
	</div>
	<div class="cell">
		<ChessChat></ChessChat>
	</div>
</div>