@page "/userprofile"
@    using ChessProject.Data
@inject PlayerService players

<h1>User Profile</h1>

<p>This is my page.</p>


@code {
    private Player[]? players;

    protected override async Task OnInitializedAsync()
    {
        players = await PlayerService.PlayerList();
    }
}
