@inherits LayoutComponentBase

<PageTitle>ChessProject</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <HeaderMenu />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>