@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISessionStorageService session
<PageTitle>ChessProject</PageTitle>

<div class="page">
    @if (permission == "administrator") {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <HeaderMenu />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string? permission;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        permission = await session.GetItemAsync<string>("Premission");
        StateHasChanged();
    }
}