/* _content/ChessProject/Components/Board.razor.rz.scp.css */
.cell[b-8zqnplhlsd] {
    height: 80px;
    width: 80px;
    padding: 10px;
    border: 1px solid black;
}

.cell.active[b-8zqnplhlsd] {
    border: 3px solid green;
}

/*barvanje celic*/
.row:nth-child(2n) .cell:nth-child(2n+1)[b-8zqnplhlsd] {
    background: tan;
}

.row:nth-child(2n) .cell:nth-child(2n)[b-8zqnplhlsd] {
    background: #eee;
}

.row:nth-child(2n+1) .cell:nth-child(2n+1)[b-8zqnplhlsd] {
    background: #eee;
}

.row:nth-child(2n+1) .cell:nth-child(2n)[b-8zqnplhlsd] {
    background: tan;
}

.pawn[b-8zqnplhlsd] {
    width: 60px;
    height: 60px;
}

.pawn.active[b-8zqnplhlsd] {
    border: 2px solid red;
}

.board-piece[b-8zqnplhlsd] {
    width: 58px;
    height: 58px;
}
/* _content/ChessProject/Shared/MainLayout.razor.rz.scp.css */
.page[b-g2eph9fb46] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-g2eph9fb46] {
    flex: 1;
}

.sidebar[b-g2eph9fb46] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-g2eph9fb46] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-g2eph9fb46]  a, .top-row .btn-link[b-g2eph9fb46] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-g2eph9fb46] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-g2eph9fb46] {
        display: none;
    }

    .top-row.auth[b-g2eph9fb46] {
        justify-content: space-between;
    }

    .top-row a[b-g2eph9fb46], .top-row .btn-link[b-g2eph9fb46] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-g2eph9fb46] {
        flex-direction: row;
    }

    .sidebar[b-g2eph9fb46] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-g2eph9fb46] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-g2eph9fb46], article[b-g2eph9fb46] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/ChessProject/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-keo0jhu87o] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-keo0jhu87o] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-keo0jhu87o] {
    font-size: 1.1rem;
}

.oi[b-keo0jhu87o] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-keo0jhu87o] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-keo0jhu87o] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-keo0jhu87o] {
        padding-bottom: 1rem;
    }

    .nav-item[b-keo0jhu87o]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-keo0jhu87o]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-keo0jhu87o]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-keo0jhu87o] {
        display: none;
    }

    .collapse[b-keo0jhu87o] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
